/* FUTURE GOALS */
.contactpage_holder {
    background-image: url('../assets/contact/hero-image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
    z-index: 0;
}

.contactpage_holder::before {
    opacity: 0.8;
}

.description__text {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #E0E0E0;
}

.contact_details a,
.contact_details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #E0E0E0;
    text-decoration: none !important;
}

.contact_details .label {
    font-weight: 600;
    color: #E0E0E0;
}

.form_title {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #333333;
}

.businessunits_holder {
    padding: 5% 0;
}

.business_title {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #333333;
}

.contact_holder {
    background: #FEEAAB;
    border-radius: 48px 48px 0 0;
    /* background-image: url('../assets/contact/contact-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center; */
}

/* .contactform_holder:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-image: url('../assets/contact/contact-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
} */

.contact_form_wrapper input {
    background-color: transparent !important;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #333333 !important;
    border-radius: 0;
    box-shadow: none !important;
    outline: 0 none !important;
    padding-left: 0;
}

.contact_form_wrapper input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    text-indent: 8px;
    color: #333333;
    opacity: 0.6;
}

.contact_form_wrapper input::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    text-indent: 8px;
    color: #333333;
    opacity: 0.6;
}

.contact_form_wrapper input:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    text-indent: 8px;
    color: #333333;
    opacity: 0.6;
}

.contact_form_wrapper input:-moz-placeholder {
    /* Firefox 18- */
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    text-indent: 8px;
    color: #333333;
    opacity: 0.6;
}

.contact_form_wrapper button {
    background: #EF791E !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 80px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F2F2F2;
    padding: 12px;
}