.navbar .menu__item {
    margin-right: 58px;
    text-decoration: none;
    position: relative;
    transition: all 0.5s ease;
}

.navbar .menu__item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 50px;
    left: 0;
    bottom: -5px;
    transition: all 0.5s ease;
    transform: scaleX(0);
    transform-origin: 0%;
}

.navbar .menu__item:hover:after {
    transition: all 0.5s ease;
    transform: scaleX(1);
}

.voipElementsbg {
    background-image: url('../assets/heroslider/voipElements.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10% 0 5%;
    z-index: 0;
    height: 100vh;
}

.itElementsbg {
    background-image: url('../assets/heroslider/itElements.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10% 0 5%;
    z-index: 0;
    height: 100vh;
}

.cloudElementsbg {
    background-image: url('../assets/heroslider/cloudElements.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10% 0 5%;
    z-index: 0;
    height: 100vh;
}

.growthElementsbg {
    background-image: url('../assets/heroslider/growthElements.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10% 0 5%;
    z-index: 0;
    height: 100vh;
}

.iotElementsbg {
    background-image: url('../assets/heroslider/iotElements.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10% 0 5%;
    z-index: 0;
    height: 100vh;
}

.logotext {
    margin-bottom: 20px;
}

.logotext p {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #F2F2F2;
}

.logotext p span {
    font-weight: 700;
}

.joinText {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #E0E0E0;
    margin-bottom: 51px;
}

.joinBtn {
    background: transparent !important;
    border: none !important;
}

.joinBtn span {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F2;
}

.thumbSlider {
    position: absolute !important;
    width: calc(100% - 144px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.thumbSlider>div {
    overflow: visible;
}

.thumbSliderRange {
    cursor: pointer;
}

.thumbSliderRange h3 {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #F2F2F2;
    opacity: 0.4;
}

.thumbSliderRange .range {
    height: 5px;
    position: relative;
    background: #F2F2F2;
    opacity: 0.2;
    transition: all 0.4s ease;
}

.thumbSliderRange .range:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: #F2F2F2;
    opacity: 0.2;
    transition: all 0.4s ease;
}

/* PRODUCT SERVIES */

.product_service {
    padding: 40px 0 0;
    border-radius: 48px;
    background-image: url('../assets/products/background-co.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.product_service::before {
    content: '';
    position: absolute;
    top: 150px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/products/bg-vector.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

/* FUTURE GOALS */
.futuregoals_holder {
    background-image: url('../assets/background/bg-IT.jpg');
    background-position: center;
    background-size: contain;
    padding: 200px 0;
}

/* NUSINESS CLARITY */
.businessclarity_holder {
    background-image: url('../assets/background/bg-business.jpg');
    background-position: center;
    background-size: contain;
    padding: 200px 0;
}

.subtitle {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #F2F2F2;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1900.98px) {
    .product_service {
        height: 100%;
    }
}

@media only screen and (min-width: 1799.98px) {
    .voipElementsbg,
    .itElementsbg,
    .cloudElementsbg,
    .growthElementsbg,
    .iotElementsbg {
        height: 100vh;
    }
}

@media only screen and (min-width: 1199.98px) and (max-width: 1599.98px) {
    .navbar .menu__item {
        margin-right: 38px;
    }
}

@media only screen and (max-width: 1024.98px) {

    .voipElementsbg,
    .itElementsbg,
    .cloudElementsbg,
    .growthElementsbg,
    .iotElementsbg {
        padding: 10% 0 15%;
    }

    .product_service {
        border-radius: 24px;
    }
}

@media only screen and (max-width: 991.98px) {
    .navbar .menu__item {
        margin-right: 30px;
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
    }

    .voipElementsbg,
    .itElementsbg,
    .cloudElementsbg,
    .growthElementsbg,
    .iotElementsbg {
        padding: 10% 0 15%;
        /* height: 780px; */
    }

    .thumbSlider {
        width: calc(100% - 48px);
    }
}

@media only screen and (max-width: 767.98px) {

    .voipElementsbg,
    .itElementsbg,
    .cloudElementsbg,
    .growthElementsbg,
    .iotElementsbg {
        padding: 10% 0 25%;
    }

    .joinText {
        margin-bottom: 30px;
    }

    .thumbSlider {
        width: calc(100% - 48px);
    }
}

@media only screen and (max-width: 600.98px) {

    .voipElementsbg,
    .itElementsbg,
    .cloudElementsbg,
    .growthElementsbg,
    .iotElementsbg {
        padding: 0 0 25%;
        height: 100vh;
    }

    .logotext img {
        max-width: 48px;
    }

    .thumbSlider {
        width: calc(100% - 24px);
    }
}

@media only screen 
and (min-device-width : 260px) 
and (max-device-width : 768px) 
and (orientation : landscape) { 
    .voipElementsbg,
    .itElementsbg,
    .cloudElementsbg,
    .growthElementsbg,
    .iotElementsbg {
        padding: 10% 0 5%;
        height: 620px;
    }
}